@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abhaya+Libre:wght@400;500;600;700;800&family=Kurale&family=Linden+Hill:ital@0;1&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.abhaya-libre-regular {
   font-family: "Abhaya Libre", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .abhaya-libre-medium {
   font-family: "Abhaya Libre", serif;
   font-weight: 500;
   font-style: normal;
 }
 
 .abhaya-libre-semibold {
   font-family: "Abhaya Libre", serif;
   font-weight: 600;
   font-style: normal;
 }
 
 .abhaya-libre-bold {
   font-family: "Abhaya Libre", serif;
   font-weight: 700;
   font-style: normal;
 }
 
 .abhaya-libre-extrabold {
   font-family: "Abhaya Libre", serif;
   font-weight: 800;
   font-style: normal;
 }
 .abeezee-regular {
   font-family: "ABeeZee", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .abeezee-regular-italic {
   font-family: "ABeeZee", sans-serif;
   font-weight: 400;
   font-style: italic;
 }
 .literata-regular {
   font-family: "Literata", serif;
   font-weight: 400;
   font-style: normal;
 }

 .literata-medium {
   font-family: "Literata", serif;
   font-weight: 500;
   font-style: normal;
 }

 .literata-semibold {
   font-family: "Literata", serif;
   font-weight: 600;
   font-style: normal;
 }

 .literata-bold {
   font-family: "Literata", serif;
   font-weight: 700;
   font-style: normal;
 }

 .literata-extrabold {
   font-family: "Literata", serif;
   font-weight: 800;
   font-style: normal;
 }

 .kurale-regular {
   font-family: "Kurale", serif;
   font-weight: 400;
   font-style: normal;
 }
 .linden-hill-regular {
   font-family: "Linden Hill", serif;
   font-weight: 400;
   font-style: normal;
 }

 .linden-hill-bold {
   font-family: "Linden Hill", serif;
   font-weight: 600;
   font-style: normal;
 }
 
 .linden-hill-regular-italic {
   font-family: "Linden Hill", serif;
   font-weight: 400;
   font-style: italic;
 }
  
   